/**
 * jGallery CSS
*/
.jgBackground { background-color: #333; z-index: 1; float:left; position:absolute; display:none;}
.jgContainer { z-index: 2; float:left; position:absolute; display:none }

.jgContainer div.jgFullGallery  a:link {text-decoration: none}
.jgContainer div.jgFullGallery  a:visited {text-decoration: none}
.jgContainer div.jgFullGallery  a:hover {text-decoration: none}
.jgContainer div.jgFullGallery  a:active {text-decoration: none}

.jgContainer div.image {background-color: #FFF; text-align:center; margin:0px auto; float:left; padding:5px; position:absolute; }
.jgContainer div.image .legenda { font-family: Verdana; font-size:10px; display:none; padding: 5px; }
.jgContainer div.jgFullGallery { display:none; height:100px; overflow:auto; }
.jgContainer div.image div.nav { float:left; position: absolute;}
.jgImageClicked {border:1px solid #333;}
